<h1>Steve's Preferences</h1>
<h2>Favorite Color</h2>
<p>Purple</p>
<h2>Food</h2>
<p>Pizza</p>
<h2>Music</h2>
<p>Folk Dance</p>
<h2>Animal</h2>
<p>Whale</p>
<h2>Book</h2>
<p>What to expect when you are expecting</p>
