<p>Meet Steve Stonebraker:</p>

<table>
<tr> 
    <td>Head Librarian</td>
    <td>Frieda Farus</td>
    <td><%= image_tag 'frieda.jpg', :class => 'img' %>
</tr>

<tr> 
    <td>Reference Librarian</td>
    <td>Lotus Gergenson</td>
    <td><%= image_tag 'lotus.jpg', :class => 'img' %>
</tr>

</table>
