<h1><%= @title %></h1>
<p>Steve is enrolled in the graduate program at DePaul University and is taking the Network Security track.</p>
<p>His interests include server administration, networking, and ruby on rails!</p>
