<h1><%= @title %></h1>
<table>
<tr> 
    <td>Head Librarian</td>
    <td>Frieda Farus</td>
    <td><%= image_tag 'frieda.jpg', :class => 'img' %>
    <td>Import because head Librarian</td>
</tr>

<tr> 
    <td>Reference Librarian</td>
    <td>Lotus Gergenson</td>
    <td><%= image_tag 'lotus.jpg', :class => 'img' %>
    <td>He was sent to detention last week</td>
</tr>

</table>
