<p>Library policies:</p>

<ol>
<li>No talking.</li>
<li>No playing music.</li>
<li>No sticking gum under the table.</li>
<li>Don't write in the books.</li>
<li>No feet on the tables.</li>
<li>Pay fines promptly.</li>
</ol>
